#channelListContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    background-color: var(--dark);

    #channelList {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;

        .channelListItem {
            width: 80%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            cursor: pointer;
            margin-bottom: .5rem;
        }
    }

    #channelListButtons {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .channelListButton {
            aspect-ratio: 1/1;
            margin-bottom: .5rem;
            padding: .5rem;
            color: var(--light-gray);
            border: 1px dotted var(--light-gray);
            border-radius: 50%;
            text-align: center;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}