* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark: #202224;
  --light-dark: #2a2c31;
  --lighter-dark: #2e3237;
  --gray: #35383e;
  --light-gray: #484c52;
  --lighter-gray: #7e8185;
  --white: #cececf;

  --blue: #7289da;
}
